<html>
<body>
    <div class="login">
       <h1>Heart Disease Prediction</h1>
   
        <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('pred_datapoint')}}" method="post">
         <input type="text" name="Age" placeholder="Age" required="required" /><br>
           <input type="text" name="Sex" placeholder="Sex" required="required" /><br>
           <input type="text" name="Chest pain type" placeholder="Chest pain type" required="required" /><br>
           <input type="text" name="BP" placeholder="Rain" required="BP" /><br>
           <input type="text" name="Cholesterol" placeholder="Cholesterol" required="required" /><br>
           <input type="text" name="FBS over 120" placeholder="FBS over 120" required="required" /><br>
           <input type="text" name="EKG results" placeholder="EKG results" required="required" /><br>
           <input type="text" name="Exercise angina" placeholder="Exercise angina" required="required" /><br>
           <input type="text" name="ST depression" placeholder="ST depression" required="required" /><br>
           <input type="text" name="Slope of ST" placeholder="Slope of ST" required="required" /><br>
           <input type="text" name="Number of vessels fluro" placeholder="Number of vessels fluro" required="required" /><br>
           <input type="text" name="Thallium" placeholder="Number of vessels fluro" required="Thallium" /><br>
   
   
   
           <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
       </form>
    <h2>
       Your prediction is {{result}}
       {%if result==1%}
       Heart Disease is Detected
       {%else%}
       Heart Dise is Not Detected
       {%endif%}
    </h2>
   <body>
</html>